<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Ooty</h1>
                    <img src="assets/Ooty.jpg" alt="Tamil Nadu" style="width: 100%;">
                    <br><br>
                    <p>
                        Hill Station

                        At a distance of 89 km from Coimbatore, 128 km from Mysore, 265 km from Bangalore,158 km from
                        Kozhikode, 244 km from Munnar, 254 km from Kodaikanal, 18 km from Coonoor & 556 km from Chennai,
                        Ooty is one of the best hill stations in India and also one of the top places to experince
                        Tamilnadu Tourism. Ooty can also be visited along with Wayanad as part of Ooty - Wayanad tour
                        packages.

                        At an altitude of 7,440 feet, Ooty, also known as Udhagamandalam, is often referred to as 'Queen
                        of hill stations'. It is the capital of Nilgiris district in the state of Tamilnadu. Nilgiris
                        means 'Blue Mountains'. Ooty Lake, Botanical Garden and Rose Garden are among the must include
                        places in your Ooty tour packages. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>