<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style=" box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Malenadu</h1>
                    <img src="assets/Malenadu.jpg" alt="Malnadu" style="width: 100%;">
                    <br><br>
                    <p>Malenadu is a region in the state of Karnataka in India. Malenadu covers the western and eastern
                        slopes
                        of the Western Ghats or Sahyadri mountain range, and is roughly 100 kilometers in width. It is
                        situated
                        between Coastal Karnataka and Bayaluseeme regions of Karnataka.
                        Malenadu Region in Karnataka is known for its abundant rainfall and rich existence of flora and
                        fauna.
                        Western ghats act as the rain barrier during south-west monsoon season. This region is one of
                        the
                        wettest regions in the world where the rainfall measurements had overflown over 7000mm whereas
                        Cheerapunji and Mawsynram at average receives about 11,000mm of rainfall per year.</p>
                </div>
            </div>

        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>