<div class="container-fluid">

    <div class="row">
      <div class="col-sm-4 bg-dark">
        <div class="col-sm-12" style="color:white">
          <br><br>
          <h1>You Like?</h1>
          <br>
          <h2>Grab a Banana!</h2>
          <hr>
          <form #form="ngForm" id="footerForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" required name="email" #email="ngModel" [(ngModel)]="userData.email" 
                [class.is-invalid]="(email.touched && email.invalid)" pattern="^[a-zA-Z0-9]{4,15}(@gmail.com)$">
              <small id="emailHelp" class="form-text text-warning">{{message}}</small>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors.required">Email Cant be Empty</small>
              <small class="text-danger"*ngIf="email.errors.pattern">Please Enter valid Email (example: john@gmail.com)</small>
            </div>
            

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Create a Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password"
               [(ngModel)]="userData.password" #pwd="ngModel" required placeholder="Password" 
               pattern="^[a-zA-Z0-9@]{8,32}$"
               [class.is-invalid]="pwd.invalid && pwd.touched"
               minlength="8" maxlength="32">

               <div *ngIf="pwd.touched&&pwd.invalid && pwd.errors">
                   <small class="text-danger" *ngIf="pwd.errors.required">Password cant be empty</small>
                   <small class="text-danger" *ngIf="pwd.errors.pattern">Password should have atleast one digit,one lowercase,one uppercase character</small>
                <small class="text-danger" *ngIf="pwd.errors.minLength">Minimum length is 8</small>
                <small class="text-danger" *ngIf="pwd.errors.maxLength">Maximum length is 8</small>

                </div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I have agreed to T&C's</label>
            </div>
            <br>
            <button type="submit" class="btn" >Grab!!</button>
          </form>
  
        </div>
  
      </div>
      <div class="col-sm-5 bg-dark">
        <div class="card">
          <br><br>
          <img src="/assets/My_Best.jpg" alt="John" style="width:100%;border-radius:50%;height:350px" class="card img">
          <br>
          <h1 style="font-family: josefinBold">Vijay S Kumar</h1>
          <p class="title">CEO & FOUNDER</p>
          <div>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div><br><br>
        <h4 class="text-light" style="text-align: center;font-size: 18px;font-family: josefinBold;"><i class="far fa-copyright" style="font-size: 18px;" ></i>&nbsp;&nbsp;BananaInTheBox, 2020</h4>
        </div>
      </div>
      <div class="col-sm-3 bg-dark">
        <img src="/assets/LoGo.png" alt="" height="50%" width="100%" id="logo" style="margin-top: -30px;">
        <div class="conatiner" style="text-align: center;margin-top: -20px;" id="footerInfo">
          <h4 class="text-warning">banana.in.the.box</h4>
          <a href=""><span class="text-light">Blog</span><br></a>
          <a href=""><span class="text-light">Press</span><br></a>
          <a href=""><span class="text-light">Careers</span><br></a>
          <br>
          <h4 class="text-warning">More</h4>
          <a href=""><span class="text-light">BinB for iOS</span><br></a>
          <a href=""><span class="text-light">BinB for Android</span><br></a>
          <br>
  
          <i class="fa fa-facebook" style="margin-right:20px;"></i>
          <i class="fa fa-google" style="margin-right:20px;"></i>
          <i class="fa fa-instagram"></i>
       
  
  
  
  
  
      </div>
    </div>
  </div>
  </div>