<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Mysore</h1>
                    <img src="assets/Mysore.cms" alt="Mysore" style="width: 100%;">
                    <br><br>
                    <p>Mysore (or Mysuru), a city in India's southwestern Karnataka state, was the capital of the
                        Kingdom of
                        Mysore from 1399 to 1947. In its center is opulent Mysore Palace, seat of the former ruling
                        Wodeyar
                        dynasty. The palace blends Hindu, Islamic, Gothic and Rajput styles. Mysore is also home to the
                        centuries-old Devaraja Market, filled with spices, silk and sandalwood.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>