<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br> <br><br>
            <div class="container-fluid">
               
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Hampi</h1>
                    <img src="assets/Hampi.jpg" alt="Hampe" style="width: 100%;">
                    <br><br>
                    <p>Hampi or Hampe (in Kannada), also referred to as the Group of Monuments at Hampi, is a UNESCO
                        World
                        Heritage Site located in east-central Karnataka, India.[1] It became the pilgrimage centre of
                        the Hindu
                        religion. It was the capital of Vijayanagara Empire in the 14th century.[2] Chronicles left by
                        Persian
                        and European travellers, particularly the Portuguese are saying that state Hampi was a
                        prosperous,
                        wealthy and grand city near the Tungabhadra River, with numerous temples, farms and trading
                        markets. By
                        1500 CE, Hampi-Vijayanagara was the world's second-largest medieval-era city after Beijing, and
                        probably
                        India's richest at that time, attracting traders from Persia and Portugal.[3][4] The
                        Vijayanagara Empire
                        was defeated by a coalition of Muslim sultanates; its capital was conquered, pillaged and
                        destroyed by
                        sultanate armies in 1565, after which Hampi remained in ruins.[2][5][6]</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>