<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Kanyakumari</h1>
                    <img src="assets/kanyakumari.cms" alt="Kanyakumari" style="width: 100%;">
                    <br><br>
                    <p>
                        At a distance of 707 km from Chennai, 85 km from Trivandrum, 22 km from Nagercoil, 242 km from
                        Madurai, 375 km from
                        Trichy, 82 km from Tirunelveli and 130 km from Tuticorin, Kanyakumari is a coastal town in Tamil
                        Nadu. Located at the
                        southernmost tip of the Indian Peninsula, it is also called Cape Comorin. Kanyakumari is a
                        famous pilgrimage places to
                        visit as part of Tamilnadu tour and also one of the best Places to visit in Tamilnadu.

                        Kanyakumari has been a great centre for art and religion for centuries. It was also an area of
                        great trade and commerce.
                        It was ruled by Cholas, Pandyas and Nayaks. Later on, Kanyakumari came under the rule of the
                        Venad dynasty and its
                        capital was located at Padmanabhapuram. In spite of the troubles encountered in the southern
                        border of Venad, Marthanda
                        Varma expanded the kingdom northwards to Aluva
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>