<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Kodaikanal-Hills</h1>
                    <img src="assets/kodaikanal-hills.jpg" alt="kodaikanal-hills" style="width: 100%;">
                    <br><br>
                    <p>
                        At a distance of 95 km from Dindigul, 117 km from Madurai, 169 km from Coimbatore, 469 km from
                        Bangalore,272 km from Kochi, 162 km from Munnar, 253 km from Ooty & 528 km from Chennai,
                        Kodaikanal, also referred to as Kodai is a beautiful hill station in Dindigul district of
                        Tamilnadu. It is one of the best hill stations not to miss in a South India tour and among the
                        top places to experince the Tamilnadu Tourism.

                        Often referred to as the 'Princess of Hill stations', Kodai is one of the popular places to
                        visit in summer as part of honeymoon trip. It is situated at an altitude of about 7000 feet
                        (2133 m) on the southern tip of upper Palani hills. It has several scenic natural attractions
                        which are enjoyed by its visitors and make it a popular romantic destination.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>