<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Madurai</h1>
                    <img src="assets/Madurai.jpg" alt="Madurai" style="width: 100%;">
                    <br><br>
                    <p>
                        At a distance of 464 km from Chennai, 136 km from Trichy, 169 km from Thanjavur, 170 km from
                        Rameswaram, 114 km from Kodaikanal & 209 km from Coimbatore, Madurai is the third largest city
                        in Tamilnadu and one of the most famous centers of pilgrimage in India and also the prime site
                        of heritage in Tamil Nadu. The city is very well known for Madurai Meenakshi Temple and among
                        the must include places in your South India tour packages.

                        Situated on the banks of the River Vaigai, Madurai is also referred to as Athens of the East and
                        Temple Town. Madhurai is the oldest continually inhabited city in the Indian peninsula, with a
                        history dating all the way back to the Sangam period of the pre-Christian era. It has been
                        inhabited since at least the 3rd century BCE. It is considered as the cultural capital of
                        Tamilnadu.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>