<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <app-states-list></app-states-list>
    </div>
    <div class="col-sm-8">
      <br><br><br><br><br>
      <!-- <button id="mapId" (click)="showMap()">See Map</button>
     <div id="map"  [style.display]=" 'none' ">
      <img src="assets/My Footprints in INDIA.png" alt="My Travel Areas" width="100%" height="10%">
     </div> -->
      <div class="container-fluid">
        <div class="col-sm-12" style=" box-shadow: 10px 10px 50px 10px bisque;">
          <br><br>
          <h3>&nbsp;&nbsp;Featured Destinations</h3>
          <div class="row">
            <div class="col-sm-6">
              <div class="container">
                <img src="assets/Coorg.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <p>Karnataka</p>
                    <p>12,050 Restaurants</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="container">
                <img src="assets/meenakshi-temple.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <p>Tamil Nadu</p>
                    <p>7652 Restaurants</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="container">
                <img src="assets/Kerala.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <p>Kerala</p>
                    <p>11220 Restaurants</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="container">
                <img src="assets/Gujarat.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <p>Gujarat</p>
                    <p>20652 Restaurants</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="container">
                <img src="assets/Hyderabad.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <p>Hyderabad</p>
                    <p>16602 Restaurants</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="container">
                <img src="assets/Golden-Temple.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <p>Punjab</p>
                    <p>15201 Restaurants</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <app-ads></app-ads>
    </div>
  </div>
</div>
<br>