<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Karnataka</h1>
                    <img src="assets/Hampi_virupaksha_temple.jpg" alt="Karnataka" style="width: 100%;">
                    <br><br>
                    <p>Karnataka ranked as the fifth most popular state in India for tourism and home to 507 of the 3600
                        centrally protected monuments in India. Tourism in Karnataka can be divided as Hill
                        Stations,Coastal
                        town,ancient temples and protected monuments, The most popular protected monuments of Karnataka
                        includes
                        Virupaksha Temple Hampi,Group of Monuments at Pattadakal, Chennakesava Temple,Mysore
                        Palace,Badami cave
                        temples and temple groups at Aihole.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>