.form-control:focus{
    outline: none !important;
}

/* body{
    font-family: josefinRegular;
}
.navbar-nav {
    margin-left: 2%;
    font-family: josefinBold;
}

.navbar-brand {
    font-family: josefinBold;
    color: black;
}

.nav-item {
    width: 200px;
    margin-right: 1%;
    border: 2px solid black;
}
.nav-item a{
    color: black;
}
.header_social {
    margin-top: -110px;
    margin-left: 1050px;
    /* float: right; 
}


.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #imageBlock img {vertical-align: middle;}
  
  #imageBlock .imagecontent {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color 
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity 
    color: #f1f1f1;
    width: 96%;
    padding: 20px;
  }

.fab {
    margin-right: 10px;
    /* background-color: white;
    border-radius: 50%; 
    color: black;
    font-size: 30px;
    transition: 0.5s ease-in;
}

.fab:hover {
    /* background-color: teal; 
    border-radius: 50%;
    font-size: 35px;
    transform: translateY(-10px);
    /* transform: rotate(360deg) ; 
}

.fa-facebook:hover {
    color: slateblue;
}

.fa-google:hover {
    color: orangered;
}

.fa-twitter:hover {
    color: cornflowerblue;
}

.fa-snapchat:hover {
    color: yellow;
}

.fab::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: black;
}

.fab:hover::after {
    width: 100%;
    transition: 1s ease-in;
} */

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.card img {
    width: 100%;
    height: 250px;
    animation: adschange 20s infinite ease-in;
}

.card2 img {
    width: 100%;
    height: 250px;
    animation: adschange2 20s infinite ease-in;
}

@keyframes adschange {
    0% {
        background-image: url("/assets/Travel_Ad1.jpg");
        background-size: cover;
    }
    25% {
        background-image: url("/assets/Travel_Ad2.jpg");
        background-size: cover;
    }
    50% {
        background-image: url("/assets/Travel_Ad3.jpg");
        background-size: cover;
    }
    75% {
        background-image: url("/assets/Travel_Ad2.jpg");
        background-size: cover;
    }
    100% {
        background-image: url("/assets/Travel_Ad1.jpg");
        background-size: cover;
    }
}

@keyframes adschange2 {
    0% {
        background-image: url("/assets/TRAVEL JOB VACANCY(A4)-01.jpg");
        background-size: cover;
    }
    25% {
        background-image: url("/assets/Travel_Ad4.jpg");
        background-size: cover;
    }
    50% {
        background-image: url("/assets/Travel_Ad5.png");
        background-size: cover;
    }
    75% {
        background-image: url("/assets/Travel_Ad6.jpg");
        background-size: cover;
    }
    100% {
        background-image: url("/assets/TRAVEL JOB VACANCY(A4)-01.jpg");
        background-size: cover;
    }
}

.card:hover {
    box-shadow: 0 8px 20px 10px rgba(0, 0, 0, 0.2);
}

.card2:hover {
    box-shadow: 0 8px 20px 10px rgba(0, 0, 0, 0.2);
}

/* Accordion for content */

/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.panel-title>a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f068";
    padding-right: 4px;
    color: red;
    font-size: 15px;
}

.panel-title>a.collapsed:before {
    float: right !important;
    content: "\f067";
}

.panel-title>a:hover, .panel-title>a:active, .panel-title>a:focus {
    text-decoration: none;
}

.panel-heading a{
    color: black;
} */ 
/* Accordion End */

/* .hamburger{
    background: none;
    border: none;
}
.hamburger::after{
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background-color: red;
    transition: 0.8s ease-in;
}
.hamburger:hover::after{
    width: 100%;
}
.hamburger:focus{
    outline: none !important;
}  */
