<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br> <br><br>
            <div class="container-fluid">

                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Mangalore</h1>
                    <img src="assets/MANGALORE.jpg" alt="Mangalore" style="width: 100%;">
                    <br><br>
                    <p>Mangalore (or Mangaluru) is an Arabian Sea port and a major commercial center in the Indian state
                        of Karnataka. It's home to the Kadri Manjunath Temple, known for its bronze statues, and the
                        9th-century Mangaladevi Temple. Its Catholic sites include Milagres Church, dating to the 17th
                        century, and St. Aloysious Chapel, which features interior paintings. Tannirbhavi Beach is
                        popular for its sunset views.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>