<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Chidambaram</h1>
                    <img src="assets/Chidambaram.jpeg" alt="Chidambaram" style="width: 100%;">
                    <br><br>
                    <p>
                        At a distance of 57 km from Chennai, 65 km from Kanchipuram, 96 km from Pondicherry, 420 km from
                        Madurai and 290 km from Trichy, Mahabalipuram (also called Mamallapuram) is situated in
                        Kanchipuram district in the state of Tamil Nadu. It is famous for its shore temples built in 7th
                        century. Mahabalipuram is one of the must visit weekend getaways from Chennai for one day trip.
                        This also a major historical / heritage site in Tamil Nadu and one of the best places to
                        experience Tamilnadu Tourism. Mahabalipuram is one of the best places to include in your
                        Pondicherry tour packages.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>