<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-states-list></app-states-list>
        </div>
        <div class="col-sm-8">
            <br><br><br><br><br>
            <div class="container-fluid">
                <div class="col-sm-12" style="box-shadow: 10px 10px 50px 10px goldenrod;">
                    <br>
                    <h1>Tamil Nadu</h1>
                    <img src="assets/Tamil-Nadu.jpg" alt="Tamil Nadu" style="width: 100%;">
                    <br><br>
                    <p>Tamil Nadu, a South Indian state, is famed for its Dravidian-style Hindu temples. In Madurai,
                        Meenakshi Amman Temple has high ‘gopuram’ towers ornamented with colourful figures. On Pamban
                        Island, Ramanathaswamy Temple is a pilgrimage site. The town of Kanyakumari, at India’s
                        southernmost tip, is the site of ritual sunrises. Capital Chennai is known for beaches and
                        landmarks including 1644 colonial Fort St. George.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-ads></app-ads>
        </div>
    </div>
</div>